<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org"
	  layout:decorator="background/layout">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>主页</title>

		<meta name="description" content="overview &amp; stats" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	</head>

	<body class="no-skin">
	<div id="content" layout:fragment="content">
		<h1>欢迎 <span th:text="${session.name}" style="color: blue"></span> 使用VincceCrm系统</h1>
	</div>
	</body>
</html>
